@model PresentacionMVC.Models.TipoViewModel

@{
    ViewData["Title"] = "DeleteTipo";
}

<h1>DeleteTipo</h1>

<span>@ViewBag.Mensaje</span>

@if (Model != null)
{
    <h3>Está seguro que desea eliminar este tipo?</h3>
    <div>

        <h4>Tipo</h4>
      
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Costo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Costo)
            </dd>
        </dl>

        <form asp-action="DeleteTipo">
            <div>@ViewBag.Mensaje</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
}
