@model IEnumerable<PresentacionMVC.Models.TipoViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Tipos disponibles de cabañas</h1>
<span>@ViewBag.Mensaje</span>

<p>
    <a asp-action="CreateTipo">Crear nuevo </a>
</p>
<div>@ViewBag.Mensaje</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>                   
                    @Html.ActionLink("DeleteTipo", "DeleteTipo", new { id = item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
