@model IEnumerable<Dominio.EntidadesNegocio.Cabaña>

@{
    ViewData["Title"] = "CabañasPorTexto";
}

<h1>CabañasPorTexto</h1><br/>

<div>@ViewBag.Mensaje</div>

    <form asp-action="CabañasPorTexto">
    <div class="form-group">
        <label  for="txt" class="control-label">Ingrese el texto a buscar: </label>
        <input  type= "text" class="form-control" id="txt" name="txt">        
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jacuzzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonasMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonasMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
