@model IEnumerable<PresentacionMVC.Models.CabañaViewModel>

@{
    ViewData["Title"] = "CabañasPorTipo";
}

<h1>Cabañas por tipo</h1>

<div>@ViewBag.Mensaje</div>



<div class="form-group">

    <form asp-action="CabañasPorTipo">
    <label for="IdTipo" class="control-label">Seleccione el tipo: </label><br/>
    <select name="IdTipo" id="IdTipo">
        @foreach (var Tipo in ViewBag.Tipos)
        {
            <option value="@Tipo.Id">@Tipo.Nombre</option>
        }
    </select>
        <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
    </form>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jacuzzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonasMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonasMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
          
        </tr>
}
    </tbody>
</table>
