@model PresentacionMVC.Models.CabañaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1><br/>

<div>@ViewBag.Mensaje</div>

<div>
    <h4>Cabaña</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jacuzzi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jacuzzi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonasMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonasMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>       
        
    </dl>
</div>
<div>
    
    @Html.ActionLink("Crear mantenimiento", "CreateMantenimiento","Mantenimiento", new {  id = Model.Id })
    @Html.ActionLink("Listar mantenimientos", "ListarMantenimientosDeCabaña","Mantenimiento", new {  id = Model.Id })
    @Html.ActionLink("Listar mantenimientos Por Fecha", "MantenimientosPorCabañaPorFechas","Mantenimiento", new {  id = Model.Id })
    <div>
    <a asp-controller="Mantenimiento" asp-action="CreateMantenimiento">Crear mantenimiento </a>
   
    </div>
    <a asp-action="Index">Volver al inicio</a>
</div>
